#navBar{
    &.hidden{
        display: none;
    }
    background-color: #eee;
    display: flex;
    color: white;
    flex-direction: column;
    height: 100vh;
    width: 30vw;
    font-size: 2rem;
    text-transform: uppercase;
    position: fixed;
    .navHeader{
        background: linear-gradient(to right, rgb(250, 50, 50), rgb(50, 50, 250));
        font-family: 'BioRhyme Expanded', sans-serif;
        font-size: 2rem;
        font-weight: 700;
        display: flex;
        justify-content: space-between;
        padding: 15px 20px;
        padding-top: 35px;
        margin-bottom: 20px;
        i:hover{
            backface-visibility: none;
            transition: all .3s;
            transform-origin: center;
            transform: rotate(20deg);
        }
        a{
            color: white;
        }
    }
    .navLink{
        color: #222;
        text-decoration: none;
        margin: 10px 0px;
        padding: 20px 5px;
        background-color: #fff;
        text-align: center;
    }
    .list{
        margin-top: 30px;
        height: 70vh;
        overflow-y: scroll;
        overflow-x: scroll;

        .listItem{
            margin-top: 20px;
            font-size: 1.2rem;
            width: 700px;
        }
    }
}

.navBarWrapper{
    width: 30vw;
}