@import './styles/variables.scss';
@import './styles/jobCard.scss';
@import './styles/list.scss';
@import './styles/preferences.scss';
@import './styles/navBar.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}